body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--hero-color);
    margin: auto;
}

img {
    display: block;
}

:root {
    --primary-text-color: #434455;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --hero-color: #ffffff;
    --button-second-color: #404bbf;
    --footer-logo-color: #F4F4FD;
    --filter-border-color: #E7E9FC;
    --link-icon-color: #8e8f99;
}

p {
    margin-block-start: 0;
}

h2,
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Hero */
.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    text-align: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* Header */


.header-nav {
    border-bottom: 1px solid var(--filter-border-color);
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 18px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);


}

.header-nav a:hover,
.main-address a:hover {
    color: var(--accent-color);

}

.header-nav .container {
    display: flex;
    height: 72px;
    align-items: center;
    width: 1158px;
    justify-content: space-between;
}

.page-header {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--title-text-color);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.header-logo-accent {
    color: var(--accent-color);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;

}

.site-nav-list {
    display: flex;
    gap: 40px;
    margin: 0;
    margin-bottom: 0;
    list-style: none;
    padding-inline-start: 0px;

}

.site-nav-link {
    padding: 24px 0;
    color: var(--primary-text-color);
    font-weight: 500;

}



.contacts-list {
    display: flex;
    gap: 40px;
    margin: -10px;
    margin-bottom: 0;


}

img {
    color: var(--button-second-color);
    display: block;
}

.site-nav-link.current {
    color: var(--accent-color);
}


.main-address {
    display: block;
    font-style: normal;
}

.contacts {
    display: flex;
    gap: 40px;

}



/* Hero section */


.hero {
    padding: 188px 0;
    background-color: var(--title-text-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hero-title {
    margin-block-start: 0;
    max-width: 496px;
    color: var(--hero-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
}

.button {
    color: var(--hero-color);
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;

}

.button:hover {
    background-color: var(--button-second-color);

}


/* About Section */

.advantages {
    padding: 120px 0;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-about {
    width: calc((100% – 72px)/4);

}

.about-list-list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: left;
}



.about-title {
    color: var(--title-text-color);
    font-weight: 700;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-item-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*/ About section  */

/* What are we doing section */

.gallery {
    padding-bottom: 120px;
}



.gallery-title {
    margin-bottom: 72px;
}


.gallery-list-list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}


.mobile-image {
    width: calc((100% - 48px) / 3);


}


.gallery-title-common-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
}

/* /What are we doing section */

/* Team Section */
.team {
    padding: 120px 0;
    background-color: var(--footer-logo-color);

}




.team-title-common-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
}

.team-list-list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-position {
    padding: 32px 16px;
}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-rank {
    text-align: center;


}

.soc-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-inline-start: 0px;
}

.soc-list {
    width: 40px;
    height: 40px;
    list-style: none;

}

.soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--button-second-color);
}

.social {
    fill: var(--footer-logo-color);

}

/* /Team Section */

/* Customers */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;

}

.title-large {
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-text-color);
    margin-bottom: 72px;
    margin-top: 0px;
}

.cooperation {
    display: flex;
    gap: 24px;
    list-style: none;
    padding-inline-start: 0px;
    margin: 0;
}

.corporate {
    width: calc(((100% - 120px) / 6) + 0.003px);
    height: 88px;
}

.referred {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--link-icon-color);
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.referred:hover {
    border-color: var(--button-second-color);
    color: var(--button-second-color);
}

.referred:focus {
    border-color: var(--button-second-color);
    color: var(--button-second-color);
}

.referr-icon {
    fill: currentColor;
}

/* Footer */

.footer-main {
    background-color: var(--title-text-color);
    padding: 100px 0;
}

.footer-logo {
    color: var(--footer-logo-color);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

}


.header-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.card-types {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-block-end: 0;
}

.footer-info {
    max-width: 264px;
    color: var(--filter-border-color);
}

.footer-logo-part {
    margin-right: 120px;
}

.footer-logotype {
    display: flex;
    align-items: baseline;
    text-align: left;
}


.footer-social-part>.footer-social-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}

.footer-social-part>.footer-social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.footer-social-item>.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link>.footer-social-icons {
    fill: var(--footer-logo-color);
}

/* /Footer */


/* PORTFOLIO */

/* Hero*/
.header-page {
    border-bottom: 1px solid var(--filter-border-color);
}

.header-page> :first-child {
    display: flex;
}



.container-nav {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;


}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.header-logo-link {
    margin-right: 76px;
}

.header-logo-accent {
    margin-right: 76px;
}

.site-nav-list {
    display: flex;
    gap: 40px;
    margin: 0;
    margin-bottom: 0;


}


.contacts-list {
    display: flex;
    gap: 40px;
    margin: 0;
    margin-bottom: 0;
    list-style: none;
}


.contacts-list a {
    color: var(--primary-text-color);
}

/* /Hero */

/* Filter */
.menu-items {
    padding-top: 96px;
    padding-bottom: 120px;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.filters-list-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    margin-bottom: 72px;
    list-style: none;

}

.filter-btn {
    padding: 12px 24px;
    border: 1px solid var(--filter-border-color);
    background-color: var(--filter-border-color);
    color: var(--button-second-color);
    border-radius: 4px;
    list-style: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}



.filter-btn:hover {
    padding: 12px 24px;
    background-color: var(--button-second-color);
    color: var(--filter-border-color);
    border: 1px solid transparent;
    border-radius: 4px;

}

.filter-btn:focus {
    padding: 12px 24px;
    background-color: var(--filter-border-color);
    color: var(--button-second-color);
    border: 1px solid transparent;
    border-radius: 4px;
}

.portfolio-link-link {
    text-decoration: none;
    display: block;
}

.portfolio-link-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin-bottom: 0;
    justify-content: center;
    list-style: none;


}

.portfolio-item {
    width: calc((100% - 48px) / 3);

}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-сategory {
    padding: 32px 16px;
    border: 1px solid var(--filter-border-color);
    border-top: none;
    text-decoration: none;
    text-align: left;
}

.card-title {
    margin-bottom: 8px;
}